

    <section class="presentation container">
        <img class="presentation-img"  src="https://media.istockphoto.com/id/1830126474/es/foto/retrato-de-un-hombre-de-negocios-sentado-en-una-oficina.webp?s=1024x1024&w=is&k=20&c=fo7ySySL6Cwokw-H1uqNKWy4cIJvzbrxSMNv-_ZtL70=" alt="imga">
        <h2 class="subtittle">Jose Angel</h2>
        <p class="presentation-info">
            Deserunt fugiat aliquip consequat laborum amet duis excepteur non sint sint reprehenderit. Exercitation veniam sunt id do ut sint ex velit. Consequat cillum elit consectetur nulla reprehenderit id enim laborum magna. Adipisicing nisi nisi commodo eiusmod amet irure dolor adipisicing labore magna ipsum. Adipisicing occaecat sunt esse cillum eu et ullamco culpa do eiusmod adipisicing irure esse non. Commodo elit proident duis minim minim id nostrud incididunt commodo cupidatat consectetur officia.
        </p>
        <a href="" class="presentation-cta">Contactame ahora</a>
    </section>

    <section class="about container" >
        <div class="about-texts">
            <h2 class="subtitle"> Mis habilidades</h2>
            <p class="about-paragrapg">
                Reprehenderit voluptate nisi cillum est. Et Lorem aute proident cupidatat ipsum sint nostrud non Lorem id in. Non officia anim deserunt et amet aliqua magna proident excepteur qui.
            </p>
            <p class="about-paragrapg">
                Reprehenderit voluptate nisi cillum est. Et Lorem aute proident cupidatat ipsum sint nostrud non Lorem id in. Non officia anim deserunt et amet aliqua magna proident excepteur qui.
            </p>
        </div>
        <figure class="about-img">
            <img src="https://images.unsplash.com/photo-1499673610122-01c7122c5dcb?q=80&w=1454&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img" class="about-picute">
        </figure>

        <figure class="about-img about-img--left">
            <img src="https://images.unsplash.com/photo-1499673610122-01c7122c5dcb?q=80&w=1454&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="about-picute">
        </figure>
        <div class="about-texts">
            <h2 class="subtitle"> Sobre mi trabajo</h2>
            <p class="about-paragrapg">
                Reprehenderit voluptate nisi cillum est. Et Lorem aute proident cupidatat ipsum sint nostrud non Lorem id in. Non officia anim deserunt et amet aliqua magna proident excepteur qui.
            </p>
            <p class="about-paragrapg">
                Reprehenderit voluptate nisi cillum est. Et Lorem aute proident cupidatat ipsum sint nostrud non Lorem id in. Non officia anim deserunt et amet aliqua magna proident excepteur qui.
            </p>
        </div>
    </section>
