

    <section class="presentation container">
        <img class="presentation-img"  src="/assets/imgs/myPerson.png" alt="img">
        <h2 class="subtittle">Soy Jose Angel Alvarez Beltran</h2>
        <p class="presentation-info">
            Deserunt fugiat aliquip consequat laborum amet duis excepteur non sint sint reprehenderit. Exercitation veniam sunt id do ut sint ex velit. Consequat cillum elit consectetur nulla reprehenderit id enim laborum magna. Adipisicing nisi nisi commodo eiusmod amet irure dolor adipisicing labore magna ipsum. Adipisicing occaecat sunt esse cillum eu et ullamco culpa do eiusmod adipisicing irure esse non. Commodo elit proident duis minim minim id nostrud incididunt commodo cupidatat consectetur officia.
        </p>
        
       <section class="content-tags">
            <div class="container_tagas">
                <section  class="tags tags-participation"><span> Participante en <strong> IV CONGRESO INTERNACIONAL DE LA INGENIERÍA Y EL DISEÑO. TECNOLOGÍAS EMERGENTES Y SOSTENIBLES </strong>  </span> </section>
            </div>
       </section> 
        
        
        <a href="" class="presentation-cta">Contactame ahora</a>
    </section>

    <section class="about container" >
        <div class="about-texts">
            <h2 class="subtitle"> Mis habilidades</h2>
            <section class="content-tags">
                <div class="container_tagas">
                    <section  class="tags"> <img src="/assets/imgs/html.png" alt="icon-dev">  <span>Html</span> </section>
                    <section  class="tags"> <img src="/assets/imgs/css.png" alt="icon-dev">  <span>Css</span> </section>
                    <section  class="tags"> <img src="/assets/imgs/javaScript.png" alt="icon-dev">  <span>JavaScript </span> </section>
                    <section  class="tags"> <img src="/assets/imgs/angular.png" alt="icon-dev">  <span>Angular</span> </section>
                    <section  class="tags"> <img src="/assets/imgs/typescript.png">  <span>TypeScript</span> </section>
                    <section  class="tags"> <img src="/assets/imgs/git.png" alt="icon-dev">  <span>Git</span> </section>
                </div>
           </section> 
        </div>
        <figure class="about-img">
            <img src="https://images.unsplash.com/photo-1499673610122-01c7122c5dcb?q=80&w=1454&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img" class="about-picute">
        </figure>

        <figure class="about-img about-img--left">
            <img src="https://images.unsplash.com/photo-1499673610122-01c7122c5dcb?q=80&w=1454&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="about-picute">
        </figure>
        <div class="about-texts">
            <h2 class="subtitle"> Sobre mi trabajo</h2>
            <p class="about-paragrapg">
                Reprehenderit voluptate nisi cillum est. Et Lorem aute proident cupidatat ipsum sint nostrud non Lorem id in. Non officia anim deserunt et amet aliqua magna proident excepteur qui.
            </p>
            <p class="about-paragrapg">
                Reprehenderit voluptate nisi cillum est. Et Lorem aute proident cupidatat ipsum sint nostrud non Lorem id in. Non officia anim deserunt et amet aliqua magna proident excepteur qui.
            </p>
        </div>
    </section>
