.presentation {
    padding-top: 0;
    text-align: center;
}
.presentation-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;

    /* para que no pierda resolucion */
    object-fit: cover;


    object-position: top;
}
.presentation-info{
    width: 80%;
    margin: 0 auto;
}
.presentation-cta{
    display: inline-block;
    margin-top: 30px;
    background: var(--color-primary);
    color: white;
    text-decoration: none;
    padding: var(--boton-padding);
    border-radius: 40px;
}

/* about  */

.about{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;

    align-items: center;
    justify-items: center;
}

.about-img{
    text-align: center;
}

.about-img--left{
    text-align: left;
}

.about-picute{
    max-width: 80%;
}

.about-paragrapg{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}