<section class="projects">
    <div class="container">
        <h2 class="subtitle">Mis proyectos</h2>
        <div class="proyects_grids">

            <article class="proyects_img">
                <img src="" alt="img">
                <div class="proyect_hover">
                    <h2 class="proyect_title"></h2>
                    <i class="far fa-file-alt project_icon"></i>
                </div>
            </article>

            <article class="proyects_img">
                <img src="" alt="img">
                <div class="proyect_hover">
                    <h2 class="proyect_title"></h2>
                    <i class="far fa-file-alt project_icon"></i>
                </div>
            </article>

            <article class="proyects_img">
                <img src="" alt="img">
                <div class="proyect_hover">
                    <h2 class="proyect_title"></h2>
                    <i class="far fa-file-alt project_icon"></i>
                </div>
            </article>

            <article class="proyects_img">
                <img src="" alt="img">
                <div class="proyect_hover">
                    <h2 class="proyect_title"></h2>
                    <i class="far fa-file-alt project_icon"></i>
                </div>
            </article>
            
            <article class="proyects_img">
                <img src="" alt="img">
                <div class="proyect_hover">
                    <h2 class="proyect_title"></h2>
                    <i class="far fa-file-alt project_icon"></i>
                </div>
            </article>


        </div>
    </div>
</section>