<section class="projects">
    <div class="container">
        <h2 class="subtitle">Mis proyectos</h2>
        <div class="proyects_grids">

            <article class="proyects_img">
                <img src="https://images.unsplash.com/photo-1659079631665-eb95370fb173?q=80&w=1630&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                <div class="proyect_hover">
                    <div class="contaner-parrafo">
                        <h3 class="proyect_title">Proyect</h3>
                        <p>
                             Creación de una aplicación móvil multiplataforma (iOS y Android) usando Flutter que permite a los usuarios establecer, rastrear y cumplir sus metas y hábitos diarios. La aplicación incluye recordatorios y análisis de progreso.
                        </p>
                        <i class="project_icon">
                            <a href="">
                                <img src="https://cdn-icons-png.flaticon.com/512/2111/2111432.png" class="icons-imgs" alt="icons">
                            </a>
                        </i>
                    </div>
                </div>
            </article>

            <article class="proyects_img">
                <img src="https://images.unsplash.com/photo-1628258334105-2a0b3d6efee1?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                <div class="proyect_hover">
                    <div class="contaner-parrafo">
                        <h3 class="proyect_title">Proyect</h3>
                        <p>
                             Creación de una aplicación móvil multiplataforma (iOS y Android) usando Flutter que permite a los usuarios establecer, rastrear y cumplir sus metas y hábitos diarios. La aplicación incluye recordatorios y análisis de progreso.
                        </p>
                        <i class="project_icon">
                            <a href="">
                                <img src="https://cdn-icons-png.flaticon.com/512/2111/2111432.png" class="icons-imgs" alt="icons">
                            </a>
                        </i>
                    </div>
                </div>
            </article>

            <article class="proyects_img">
                <img src="https://images.unsplash.com/photo-1489875347897-49f64b51c1f8?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                <div class="proyect_hover">
                    <div class="contaner-parrafo">
                        <h3 class="proyect_title">Proyect</h3>
                        <p>
                             Creación de una aplicación móvil multiplataforma (iOS y Android) usando Flutter que permite a los usuarios establecer, rastrear y cumplir sus metas y hábitos diarios. La aplicación incluye recordatorios y análisis de progreso.
                        </p>
                        <i class="project_icon">
                            <a href="">
                                <img src="https://cdn-icons-png.flaticon.com/512/2111/2111432.png" class="icons-imgs" alt="icons">
                            </a>
                        </i>
                    </div>
                </div>
            </article>

            <article class="proyects_img">
                <img src="https://images.unsplash.com/photo-1542395765-761de4ee9696?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                <div class="proyect_hover">
                    <div class="contaner-parrafo">
                        <h3 class="proyect_title">Proyect</h3>
                        <p>
                             Creación de una aplicación móvil multiplataforma (iOS y Android) usando Flutter que permite a los usuarios establecer, rastrear y cumplir sus metas y hábitos diarios. La aplicación incluye recordatorios y análisis de progreso.
                        </p>
                        <i class="project_icon">
                            <a href="">
                                <img src="https://cdn-icons-png.flaticon.com/512/2111/2111432.png" class="icons-imgs" alt="icons">
                            </a>
                        </i>
                    </div>
                </div>
            </article>
            
            <article class="proyects_img">
                <img src="https://images.unsplash.com/photo-1613490900233-141c5560d75d?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img">
                <div class="proyect_hover">
                    <div class="contaner-parrafo">
                        <h3 class="proyect_title">Proyect</h3>
                        <p>
                             Creación de una aplicación móvil multiplataforma (iOS y Android) usando Flutter que permite a los usuarios establecer, rastrear y cumplir sus metas y hábitos diarios. La aplicación incluye recordatorios y análisis de progreso.
                        </p>
                        <i class="project_icon">
                            <a href="">
                                <img src="https://cdn-icons-png.flaticon.com/512/2111/2111432.png" class="icons-imgs" alt="icons">
                            </a>
                        </i>
                    </div>
                </div>
            </article>


        </div>
    </div>
</section>