<header class="header-container">
    <div class="container">
        <nav class="nav-container">
            <a  [routerLink]="['/home']" class="nav-items nav-items--cta">General</a>
            <a  [routerLink]="['/presentation']" routerLinkActive="router-link-active" class="nav-items"> Sobre mi</a>
            <a  [routerLink]="['/proyects']" routerLinkActive="router-link-active" class="nav-items"> Proyectos</a>
        </nav>
    
        <section class="container-info">
            <div class="info-contane"> 
                <h1 class="info-title">Jose angel [Ingeniero de Sistema y Desarrollador Web]</h1>
                <h2 class="info-subtitle">Hola no soy un robot, soy un ingeniero de sitemas</h2>
                <a href="" class="info-contact">Contactame ahora</a>
            </div>
        </section>
    </div>
    
    <div class="header-info-foot" style="overflow: hidden;" >
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C271.16,160.38 399.83,-51.78 527.36,47.88 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path>
        </svg>
    </div>

</header>