<header class="header-container">
    <div class="container">
        <nav class="nav-container"> 

            <a   class="nav-items nav-items--cta">
                <img src="https://cdn-icons-png.flaticon.com/512/3494/3494693.png" alt="icon">
            </a>

            <a  href="https://github.com/joseAL520"  class="nav-items"  target="_blank"  > 
                <img src="https://cdn-icons-png.flaticon.com/512/2111/2111432.png" alt="icon">
            </a>

            <a  href="https://www.linkedin.com/in/jos%C3%A9-angel-alvarez-beltran-1488a722b/" class="nav-items" target="_blank"> 
                <img src="https://cdn-icons-png.flaticon.com/512/61/61109.png" alt="icon">
            </a>

        </nav>
    
        <section class="container-info">
            <div class="info-contane  glass-efect"> 
                <span class="info-title"> {{title}} </span>
                <h3 class="info-subtitle">
                    Hola no soy un robot, <span class="info-subtitle-color-blue">soy un ingeniero de sitemas </span> <br>
                    apasionado por el <span class="info-subtitle-color-red">diseño web y la programación.</span>
                </h3>
                <button class="info-contact" >MI HOJA DE VIDA  <img src="https://cdn-icons-png.flaticon.com/512/5136/5136979.png" alt="icon"></button>
            </div>
        </section>
    </div>
    
    <div class="header-info-foot" style="overflow: hidden;" >
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C271.16,160.38 399.83,-51.78 527.36,47.88 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path>
        </svg>
    </div>

</header>