.header-container{
  height: 100vh;
  
  background-image: var(--backgroud),url('https://images.unsplash.com/photo-1607799279861-4dd421887fb3?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  position: relative;
}

.header-container .container{
    padding: 0;
}

/*  menu  */
.nav-container{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
    
}


.nav-items{

    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 30px;
    padding: 5px 5px;
    font-weight: initial;

    border-radius: 10px;
    background-color: #fafafa36;
    backdrop-filter: blur(0.4rem);

    /* background: rgba(255, 255, 255, 0.25); */
    
    
    /* mask: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px) content-box exclude, linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px); */
    
}


img{
    width: 30px;
    height: 30px;
}



/* fin menu  */

/* texto */

.container-info{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color:white
}


.info-contane{
    width: 70%;
    margin-bottom: 3.2rem;
    border: 2px solid #fafafa10;
    padding: 15px;
    border-radius: 5px;
}

.glass-efect{
    background-color: #fafafa10;
    backdrop-filter: blur(0.4rem);
}

.info-title{
    font-size: 3.2rem;
}

.info-subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}

/* fin text */

.info-contact{
    display: flex;
    background: rgb(255, 255, 255);
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;
    align-items: center;
    border: none;
    cursor: pointer;
}

.info-contact:active{
    color: rgb(0, 0, 0);
    background-color: rgb(207, 207, 207);
}

.info-contact img{
    margin-left: 10px;
}

.header-info-foot{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}