/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --backgroud: linear-gradient(135deg, #0000006e 10%, #a24b4b98 90% );
    --color-primary: #5f7cfd;
    --color-secundary: #764ba2;
    --color-tertiary: #fd7474bf;
    --boton-padding:20px 40px;
}

*{
    margin: 0;
}
body{
    font-family: "Lato", sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0px;
    max-width: 1200px;
}

.subtitle{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}