footer{
    background: var(--backgroud);
}

.footer__grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}

.nav_footer{
    display: flex;
    
    justify-content: flex-start;
}

.nav__items{

    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.699);
    border-radius: 5px;
    margin: 0px 10px;
}





.footer__title{
    font-weight: 400;
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.footer__container{
    display: flex;
    justify-content: space-evenly;

}

.footer__icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    color: white;
    text-align: center;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.699);
}



img{
    width: 30px;
    height: 30px;
    margin: 15px;
}


@media (max-width:650px){
    .footer__grid{
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
    }

    .footer__title{
        font-size: 20px;
        margin-bottom: 15px;
    }

    .footer__icon{
        margin: 0px 10px;
    }

    .nav__items{
        font-size: 10px;
    }
}