
<footer>
    <div class="container footer__grid">
        <nav class="nav_footer">
            <a href="" class="nav__items">Inicio</a>
            <a href="" class="nav__items">======</a>
            <a href="" class="nav__items">======</a> 
            <a href="assets/docs/angular-cheat-sheet-v2.pdf" class="nav__items" target="_blank">Portafolio.Pdf</a>
        </nav>

        <section class="footer_contact">
            <h3 class="footer__title">Contactame</h3>
            <div class="footer__container">
                
                <span class="footer__icon">
                    <a href="" class="icon" >
                        <img src="https://cdn-icons-png.flaticon.com/512/61/61109.png" alt="icon">
                    </a>
                </span>

                <!-- <span class="footer__icon">
                    <a href="" class="icon" >
                        <img src="https://cdn-icons-png.flaticon.com/512/2111/2111432.png" alt="icon">
                    </a>
                </span> -->

                <span class="footer__icon">
                    <a href="" class="icon" >
                        <img src="https://cdn-icons-png.flaticon.com/512/3494/3494693.png" alt="icon">
                    </a>
                </span> 

            </div>
        </section>
    </div>
</footer>
