
<footer>
    <div class="cotainer footer__grid">
        <nav class="nav_footer">
            <a href="" class="nav__items">Inicio</a>
            <a href="" class="nav__items">Sobre mi</a>
            <a href="" class="nav__items">Mis Skill</a>
            <a href="" class="nav__items">Proyectos</a>
        </nav>

        <section class="footer_contact">
            <h3 class="footer__tilt">Contactame</h3>
            <div class="footer__container">
                
                <span class="footer__icon">
                    <a href="">Linkedin</a>
                </span>

                <span class="footer__icon">
                    <a href="">Correo</a>
                </span>

                <span class="footer__icon">
                    <a href="">CV</a>
                </span> 

            </div>
        </section>
    </div>
</footer>
